<section id="navigation">
  <div class="logotype">
    <a href="#">
      <img src="assets/images/logo.png" alt="">
      <p>helicopter<br>view<span>.</span></p>
    </a>
  </div>
  <nav class="navigation-bar">
    <ul class="menu">
      <li class="nav-element">
        <a href="#">about us<span>.</span></a>
      </li>
      <li class="nav-element">
        <a class="active" href="#">service<span>.</span></a>
      </li>
      <li class="nav-element">
        <a href="#">out projects<span>.</span></a>
      </li>
      <li class="nav-element">
        <a href="#">process<span>.</span></a>
      </li>
      <li class="nav-element">
        <a href="#">faq<span>.</span></a>
      </li>
      <li class="nav-element">
        <a href="#">blog<span>.</span></a>
      </li>
      <li class="nav-element">
        <a href="#">contacts<span>.</span></a>
      </li>
    </ul>
    <div class="menu-btn">
      <img src="assets/images/menu-icon.png"/>
    </div>
  </nav>
</section>