<section id="offer">
    <div class="title">
        <h1>our offer<span>.</span></h1>
    </div>
    <div class="items">
        <article class="item">
            <div class="icon-container">
                <i class="icon-target"></i>
            </div>
            <p><span>100% Clear-Cut Hit</span><br>
                We only identify companies that precisely match your brief,
                because we underttake comprehensive market research, wte take
                every detail of your strategy into account and provide sustainable
                and efficient deal execution of the acquisition or sales strategy
            </p>
        </article>
        <article class="item">
            <div class="icon-container">
                <i class="icon-search"></i>
            </div>
            <p><span>Active searching</span><br>
                We can approach shareholders directly so as to acquire “not for sale”
                or to sell for “not acquiring” targets
            </p>
        </article>
        <article class="item">
            <div class="icon-container">
                <i class="icon-developers"></i>
            </div>
            <p><span>Professionalism</span><br>
                For each project we establish a team of the best qualified professionals
                and experts with relevant expertise and knowledge.
            </p>
        </article>
        <article class="item">
            <div class="icon-container">
                <i class="icon-negotiation"></i>
            </div>
            <p><span>Negotiation</span><br>
                We can help to get the best possible price and terms by ensuring responsive
                communication, high quality preparation, applying all our experience and skills.</p>
        </article>
        <article class="item">
            <div class="icon-container">
                <i class="icon-protection"></i>
            </div>
            <p><span>Confidentiality</span><br>
                Maintaining confidentiality is our specialty and that’s why your information
                would not be shared with any third party without your written permission.
            </p>
        </article>
        <article class="item">
            <div class="icon-container">
                <i class="icon-guarantee"></i>
            </div>
            <p><span>Guarantee</span><br>
                If we don't achieve the desired results, you pay nothing. There are few,
                if any advisers offering the same no risk offer.
            </p>
        </article>
        <article class="item">
            <div class="icon-container">
                <i class="icon-advice"></i>
            </div>
            <p><span>Free support</span><br>
                We offer three months post-acquisition support at no extra cost.
            </p>
        </article>
    </div>
</section>