<section id="services">
  <div class="title">
    <h1>service<span>.</span></h1>
    <p>We identify compelling investment opportunities, opening doors that might otherwise appear closed.<br>
      We facilitate all aspects of deal execution.
    </p>
  </div>
  <div class="items">
    <article class="item">
      <i class="icon-development"></i>
      <p>
        <span>Development</span><br>
        of the acquisition or sales strategy
      </p>
    </article>

    <article class="item">
      <i class="icon-analisis"></i>
      <p>
        <span>Company analysis,</span><br>
        preparation of the investment memorandum
      </p>
    </article>

    <article class="item">
      <i class="icon-research"></i>
      <p>
        Undertaking comprehensive<br>
        <span> industry and market researches</span>
      </p>
    </article>

    <article class="item">
      <i class="icon-strategy"></i>
      <p>
        <span>Identifying transaction opportunities</span><br>
        based on a client’s objectives and strategy
      </p>
    </article>

    <article class="item">
      <i class="icon-money"></i>
      <p>
        Determining an<br>
        <span>appropriate valuation</span><br>
        for the businesses, facilities and other assets
      </p>
    </article>

    <article class="item">
      <i class="icon-service"></i>
      <p>
        Serving as a intermediary in<br>
        <span>negotiations</span><br>
        with any level of complexity to get the best
        possible price and terms
      </p>
    </article>


    <article class="item">
      <i class="icon-advice"></i>
      <p>
        <span>Providing counsel</span><br>
        to the clients in helping secure acquisitions,
        leading the due diligence process
      </p>
    </article>


    <article class="item">
      <i class="icon-document"></i>
      <p>
        Negotiating the<br>
        <span>relevant legal documents,</span><br>
        drafting contracts and legal documentation
      </p>
    </article>


    <article class="item">
      <i class="icon-manage"></i>
      <p>
        <span>Managing PR and reputation</span><br>
        around the transaction
      </p>
    </article>

    <article class="item">
      <i class="icon-support"></i>
      <p>
        Continuing advice and support during the<br>
        <span>post-acquisition period</span>
      </p>
    </article>
  </div>
</section>